.counter-timer {
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  color: #a6e9ff;
  label {
    color: #a6e9ff;
  }
}

.pretest-test-sec {
  background: #000000b3;
  color: #a6e9ff;
}
.pretest-test-part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  .value {
    height: 108px;
    p {
      color: #a6e9ff;
      font-size: 4.5rem;
      padding: 0 10px;
    }
  }
  .data {
    h2 {
      color: #a6e9ff;
    }
    p {
      color: #a6e9ff;
      font-size: small;
    }
  }
}
p {
  margin: 0;
}

.pretest-footer {
  .avatar-img {
    img {
      width: 100%;
      max-width: 400px;
    }
  }
  height: 65vh;
  .img {
    img {
      max-width: 125px;
    }
  }
}

.pretest-bottom {
}
