.pretest-test-sec {
  background: #252525;
  color: #a6e9ff;
}
.pretest-test-part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  .value {
    height: 108px;
    p {
      color: #a6e9ff;
      font-size: 4.5rem;
      padding: 0 10px;
    }
  }
  .data {
    h2 {
      color: #a6e9ff;
    }
    p {
      color: #a6e9ff;
      font-size: small;
    }
  }
}
p {
  margin: 0;
}
