* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  color: #fff;
}

body {
  overflow: hidden;
  font-family: sans-serif;
}

.wrapper {
  background: linear-gradient(to right, #180044, #001379);
  height: 100vh;
  padding: 0px 25px;
}

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.main-form .p-20 {
  padding: 20px 0;
}
.main-form .form-inner {
  background: #00000080;
  color: #a6e9ff;
  padding: 20px;
  max-width: 385px;
  min-width: 385px;
  text-align: center;
  font-size: 12px;
}
.main-form .form-inner .top {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.main-form .form-inner .top img {
  max-width: 90px;
  padding-bottom: 20px;
}
.main-form .form-inner .top .span {
  display: block;
  text-align: end;
}
.main-form .form-inner .logo img {
  max-width: 105px;
}
.main-form .form-inner .main-form-data .span {
  display: block;
}
.main-form .form-inner .main-form-data .input {
  margin: 25px 0;
}
.main-form .form-inner .main-form-data .input input {
  color: #a2a2a2;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 5px 0px 6px 10px;
  font-size: 20px;
}
.main-form .form-inner .main-form-data .input input::-moz-placeholder {
  color: #a2a2a2;
}
.main-form .form-inner .main-form-data .input input:-ms-input-placeholder {
  color: #a2a2a2;
}
.main-form .form-inner .main-form-data .input input::placeholder {
  color: #a2a2a2;
}
.main-form .form-inner .main-form-data .input .toggle {
  position: absolute;
  right: 40px;
  background: none;
  border: none;
  outline: none;
  font-size: 22px;
}
.main-form .form-inner .main-form-data .input .toggle i {
  color: #a6e9ff;
}
.main-form .form-inner .main-form-data .show-hide {
  padding: 3px 40px;
}
.main-form .form-inner .form-btn {
  background: #4dbdfb;
  outline: none;
  border: none;
  color: #fff;
  padding: 3px 11px;
  font-size: 35px;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.main-form .form-inner .text-sign {
  padding-bottom: 10px;
}
.main-form .form-inner .btn-a a {
  padding-top: 30px;
  text-decoration: none;
  color: #a6e9ff;
  display: inline-block;
}
.main-form .form-inner .btn-a a span {
  display: block;
}
.main-form .form--hidden {
  display: none;
}

.footer-part {
  position: absolute;
  bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.footer-part img {
  max-width: 200px;
}
.footer-part .lang-inner {
  margin: 10px 0;
  color: #fff;
  text-align: center;
  background: #484848a6;
  padding: 15px 30px;
  border-radius: 25px;
}
.footer-part .quit {
  text-align: center;
}
.footer-part h1 {
  color: #4dbdfb;
}

.main-menu {
  display: flex;
}

.game-menu {
  text-align: center;
  border-radius: 25px;
  margin: 25px;
}

.selection-menu {
  background: #3785ab69;
  border-radius: 25px;
  padding: 15px;
  height: 100%;
}

.game-img {
  width: 90px;
  height: 90px;
  margin: 10px;
  border-radius: 50%;
}

.laser {
  background-color: #cecece;
  display: block;
  width: 20px;
  height: 3px;
}

.flex {
  display: flex;
  margin-bottom: 20px;
}

.margin {
  margin-bottom: 4rem;
}

.select-img {
  max-width: 350px;
  margin-bottom: 20px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #d6d6d6 !important;
  border-color: transparent transparent transparent !important;
  border-top: 3px solid #03a9f4 !important;
  background: none !important;
}

.nav-tabs {
  border-bottom: none;
}

.nav-link {
  color: #929292;
}

.mission {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mission .line {
  display: block;
  background: #03a9f4;
  width: 100%;
  max-width: 373px;
  height: 3px;
}

.counter-timer {
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  color: #a6e9ff;
}
.counter-timer label {
  color: #a6e9ff;
}

.pretest-test-sec {
  background: #000000b3;
  color: #a6e9ff;
}

.pretest-test-part {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
}
.pretest-test-part .value {
  height: 108px;
}
.pretest-test-part .value p {
  color: #a6e9ff;
  font-size: 4.5rem;
  padding: 0 10px;
}
.pretest-test-part .data h2 {
  color: #a6e9ff;
}
.pretest-test-part .data p {
  color: #a6e9ff;
  font-size: small;
}

p {
  margin: 0;
}

.pretest-footer {
  height: 65vh;
}
.pretest-footer .avatar-img img {
  width: 100%;
  max-width: 400px;
}
.pretest-footer .img img {
  max-width: 125px;
}

input {
  border: none;
  outline: none;
  font-size: 3rem;
  width: 63px;
  color: #a6e9ff;
  background: none;
  font-size: 4.5rem;
}/*# sourceMappingURL=style.css.map */